<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FindMe</title>

    <!--Pozivanje svih stylesheet-ova-->
    <link rel="stylesheet" href="/views/css/style.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

    <!--Pozivanje svih eksternih skripti-->
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/node_modules/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/node_modules/angular-password/angular-password.js"></script>
    <script type="text/javascript" src="/views/controllers/validationRegister.js"></script>


</head>
<body>